body{
    background-color: rgb(238, 245, 238);
    font-family:'Times New Roman', Times, serif;
    font-size:  20px; 
    margin: 60px;
    margin-top: 0px;
    
}
.details{
    margin-bottom: 0px;
}
.space{
    height: 60px;
}


h2{
    color:rgb(194, 91, 91);
}
h1{
    color: rgb(150, 47, 12);
    
}
thead{
    color: rgb(101, 101, 101);
}
h4{
    color: rgb(6, 101, 61);
}
button{
    color: rgb(115, 64, 209);
    border-radius: 50px;
    border-color: rgb(201, 102, 244);
}
button:hover{
    background-color: rgb(216, 146, 146);
}
.heading{
    
     /* text-align: center; */
     /* margin: 0 auto 0 auto; */
    padding: 1px ;
    background-color: rgb(241, 235, 221);
    border-radius: 8px;
    position: fixed; 
    font-size: 15px; 
    /* margin: 0 40px 0 40px; */
    height:100;
    width:1220px;
}
.centering{
    text-align: center;
}


.contact
{
    text-align: center;
}



/* .centering{
    text-align: center;
} */
@media screen and (max-width: 450px) {
    .heading{
        width: 450px;
    }
    
}